argon2-cffi==18.1.0
asgi-redis==0.14.1
asgiref==0.14.0
autobahn==0.16.0
awsebcli==3.14.3
bcrypt==3.1.4
blessed==1.15.0
botocore==1.10.66
cached-property==1.4.3
cairocffi==0.8.1
CairoSVG==2.1.3
cement==2.8.2
certifi==2018.4.16
cffi==1.11.5
channels==0.17.3
chardet==3.0.4
colorama==0.3.9
contextlib2==0.5.4
cssselect2==0.2.1
Cython==0.28.2
daphne==0.14.3
defusedxml==0.5.0
dj-database-url==0.5.0
-e git+https://git.heroku.com/coltonbishop.git@337f6a25958c1d42e4920fc786bd51f6972fe17d#egg=Django
django-heroku==0.3.1
django-idmap==1.0.3
django-vanilla-views==1.0.4
django-wkhtmltopdf==3.2.0
docker==3.4.1
docker-compose==1.21.2
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
fpdf==1.7.2
future==0.16.0
geoip2==2.9.0
gunicorn==19.8.1
honcho==0.7.1
html5lib==1.0.1
HTMLParser==0.0.2
httplib2==0.11.3
huey==1.2.0
idna==2.6
IPy==0.83
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
Kivy==1.10.1.dev0
Kivy-Garden==0.1.4
MarkupSafe==1.0
maxminddb==1.4.0
msgpack-python==0.4.8
mysqlclient==1.3.12
num2words==0.5.7
numpy==1.14.3
otree-boto2-shim==0.3.2
otree-core==0.0.0b1
otree-save-the-change==1.1.3
pathspec==0.5.5
pbr==1.10.0
pdfcrowd==4.3.5
pdfkit==0.6.1
pdfrw==0.4
Pillow==5.1.0
pipenv==2018.5.18
psycopg2==2.7.4
py==1.4.31
pycparser==2.18
Pygments==2.2.0
pylibmc==1.5.2
PyPDF2==1.26.0
Pyphen==0.9.4
pytest==2.9.2
pytest-django==3.0.0
python-dateutil==2.7.3
python-memcached==1.59
python-redis-lock==3.2.0
pytz==2017.3
PyYAML==3.12
raven==5.25.0
redis==2.10.5
reportlab==3.5.2
requests==2.11.1
schema==0.6.2
selenium==3.12.0
semantic-version==2.5.0
six==1.11.0
sqlparse==0.2.4
tabulate==0.7.5
tblib==1.3.2
termcolor==1.1.0
texttable==0.9.1
tinycss2==0.6.1
Twisted==16.2.0
txaio==2.5.1
unicodecsv==0.14.1
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
WeasyPrint==0.42.3
webencodings==0.5.1
websocket-client==0.48.0
whitenoise==3.2.1
ws4py==0.3.5
xhtml2pdf==0.2.2
XlsxWriter==0.9.3
zope.interface==4.2.0
